/* Core design colors */

$c-body: #f7f7f7;
$c-primary: #3a3a45;
$c-secondary: #3e3e4c;
$c-accent: #0050ae;
$c-light-blue: #1a88ff;
$c-extralight-blue: #e6eef7;
$c-extralight-lightblue: #f3f5f6;
$c-grey: #53616e; /* Bootstrap text-secondary color */
$c-lighter-grey: #9ba5ad;
$c-extralight-grey: #f9f9f9;


