/* Core design colors */

$c-body: #fcf9f9;
$c-primary: #212133;
$c-accent: #0050ae;
$c-light-blue: #1a88ff;
$c-extralight-blue: #e6eef7;
$c-extralight-lightblue: #f3f5f6;
$c-extralight-gray: #f9f9f9;
$c-secondary: #232330;
$c-grey: #6c757d; /* Bootstrap text-secondary color */
$c-lighter-grey: #9ba5ad;
