/* Explainer template */

.cover-header-source {
    text-align: right;
    padding-top: 0.2rem;
    padding-right: 0.2rem;
    position: absolute;
    width: 100%;
    z-index: 1;

    .cover-header-source-toggle, #coverLicense {
        float: right;
        clear: right;
        padding: 0 0.3rem;

        a {
            color: black;
        }
    }

    .cover-header-source-toggle.collapsed {
        background-color: rgba(white, 0.5);
    }

    .cover-header-source-toggle, .cover-header-source-toggle:hover {
        color: rgba(black, 0.8);
        background-color: rgba(white, 0.9);
    }

    #coverLicense {
        font-size: 0.7rem;
        min-width: 150px;
        max-width: 250px;
        color: black;
        background-color: rgba(white, 0.9);

        dl, dd {
            text-align: left;
            margin-bottom: 0.4rem;
        }
    }
}

.explainer-cover-container {
    display: flex;
    flex-direction: column;
}

.explainer-cover {
    --spacing-around-title: 4rem;
    background-image: var(--path-mobile);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #a0a5b8 !important;
    color: white;
    text-shadow: 0px 0px 0.1rem black;
    padding-bottom: 0.5rem;

    .explainer-type {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9rem;
        min-height: var(--spacing-around-title);
        div {
            opacity: 0.8;
        }
    }

    h1 {
        color: white;
        font-size: 2.5rem;
        vertical-align: baseline;
        min-height: 6rem;
        margin-bottom: var(--spacing-around-title);
        display: flex;
    }
    .authors a {
        color: white;
    }
    .tags {
        text-shadow: none;
    }
}

.explainer-metadata {
    font-size: 1.1rem;

    .date-tags {
        display: flex;
    }

    .date {
        flex-shrink: 0;
        .updated {
            font-size: 0.9rem;
            opacity: 0.8;
        }

        &::after {
            content: "•";
            padding-inline: .5rem;
        }
    }
}

.author {
    font-weight: bold;
}

.longread .perex {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    line-height: 1.5em;
}

.series-order {
    opacity: 50%;
    padding-right: 0.2em;
}

@media (min-width: 768px) {
    .explainer-cover {
        --spacing-around-title: 7rem;
        background-image: var(--path-desktop);
        padding-bottom: 1rem;

        .explainer-type {
            font-size: 1.1rem;
            div {
                display: inline;
                padding-inline-start: 0.3rem;
            }
        }

        h1 {
            font-size: 4rem;
            min-height: 11rem;
        }
    }

    .explainer-metadata {
        display: flex;
        align-items: center;
        min-height: 4rem;

        .date-tags { flex-grow: 1; }
    }
}

/* TL;DR box */

.longread .tldr {
    background-color: $c-extralight-blue;
    border-radius: 1rem;
    margin-block: 2rem;
    padding: 1.5rem;
    &, li {
        line-height: 1.35;
    }
    .title {
        font-size: 1.4rem;
        margin-block: 0.5rem 1rem;
        margin-inline: 1.5rem;
        font-weight: bold;
        letter-spacing: .05em;
        text-transform: uppercase;
    }

    ul { padding-inline-start: 1.5rem; }
    li { margin-block: 0.7rem; }
}

@media (max-width: 767px) {
    .longread .tldr { padding-inline: 1rem; }
    .longread .tldr ul { padding-inline-start: 1.25rem; }
}

/* Callout box */

.callout {
    font-size: 1.2rem;
    line-height: 1.35;
    margin-top: 2rem;
    font-weight: bold;
    letter-spacing: 0.33px;
}

.numbered-callouts {
    counter-reset: callouts 0;

    .callout {
        counter-increment: callouts 1;
        display: flex;
        align-items: center;

        &::before {
            content: counter(callouts);
            font-size: 3.2rem;
            font-weight: bold;
            color: rgba(0,0,0,0.2);
            padding-right: 1rem;
        }
    }
}
