/* Explainer template */

.explainer-cover-container {
    display: flex;
    flex-direction: column-reverse;
}

.explainer-cover::before {
    content: " ";
    display: block;
    background-image: var(--path-mobile);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60%;
    margin-bottom: 1.5rem;
}

.explainer-cover {
    padding: 0;
}

.cover-header-source {
    text-align: right;
    padding-top: 0.2rem;
    padding-right: 0.2rem;
    position: absolute;
    width: 100%;
    z-index: 1;

    .cover-header-source-toggle, #coverLicense {
        float: right;
        clear: right;
        padding: 0 0.3rem;

        a {
            color: black;
        }
    }

    .cover-header-source-toggle.collapsed {
        background-color: rgba(white, 0.5);
    }

    .cover-header-source-toggle, .cover-header-source-toggle:hover {
        color: rgba(black, 0.8);
        background-color: rgba(white, 0.9);
    }

    #coverLicense {
        font-size: 0.7rem;
        min-width: 150px;
        max-width: 250px;
        color: black;
        background-color: rgba(white, 0.9);

        dl, dd {
            text-align: left;
            margin-bottom: 0.4rem;
        }
    }
}

.explainer-type {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
    span {
        opacity: 0.8;
        padding-inline-start: 0.3rem;
    }
}

.explainer-metadata {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.1rem;
    display: flex;

    .tags {
        flex-grow: 1;
    }

    .author {
        font-weight: bold;
    }

    .date {
        padding-right: 1.5rem;
    }
}

.explainer-perex {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    line-height: 1.5em;
}

h1 {
    display: flex;
}

.series-order {
    opacity: 50%;
    padding-right: 0.2em;
}

@media (min-width: 768px) {
    .cover-header-source {
        .cover-header-source-toggle.collapsed {
            background-color: rgba(white, 0.3);
        }
        .cover-header-source-toggle, .cover-header-source-toggle:hover, #coverLicense {
            background-color: rgba(white, 0.6);
        }
    }

    .explainer-cover::before {
        content: none;
    }

    .explainer-cover {
        background-image: var(--path-desktop);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        background-color: #a0a5b8 !important;
        padding-top: 12%;
        color: white;
        text-shadow: 0px 0px 0.1rem black;
        h1 {
            font-size: 4rem;
            // min-height: calc(1.2em * 3);  // minimum three lines
            vertical-align: baseline;
        }
        .authors a {
            color: white;
        }
        .tags {
            text-shadow: none;
        }
    }

    .explainer-cover-container {
        flex-direction: column;
    }

    .explainer-metadata {
        padding-top: 5%;
    }
}

/* TL;DR box */

.longread .tldr {
    background-color: $c-extralight-blue;
    border-radius: 1rem;
    margin-block: 2rem;
    padding: 1.5rem;
    &, li {
        line-height: 1.35;
    }
    .title {
        font-size: 1.4rem;
        margin-block: 0.5rem 1rem;
        margin-inline: 1.5rem;
        font-weight: bold;
        letter-spacing: .05em;
        text-transform: uppercase;
    }

    ul { padding-inline-start: 1.5rem; }
    li { margin-block: 0.7rem; }
}

@media (max-width: 767px) {
    .longread .tldr { padding-inline: 1rem; }
    .longread .tldr ul { padding-inline-start: 1.25rem; }
}

/* Callout box */

.callout {
    font-size: 1.2rem;
    line-height: 1.35;
    margin-top: 2rem;
    font-weight: bold;
    letter-spacing: 0.33px;
}

.numbered-callouts {
    counter-reset: callouts 0;

    .callout {
        counter-increment: callouts 1;
        display: flex;
        align-items: center;

        &::before {
            content: counter(callouts);
            font-size: 3.2rem;
            font-weight: bold;
            color: rgba(0,0,0,0.2);
            padding-right: 1rem;
        }
    }
}
