/* Basic figure style */

.longread-figure {
    margin: 2rem 0rem;

    img {
        width: 100%;
    }

    .fancybox-custom-caption {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 0.5rem;
    }
    .caption-above {
        padding-bottom: 0.5rem;
    }

    .caption, .source {
        margin: 0.25rem;
        font-size: 0.8rem;
        color: $c-grey;
        a {
            color: $c-grey;
        }
    }
    .source {
        flex-grow: 1;
        text-align: right;
    }
}

/* Expander figures */

.expander-block {
    margin-block: 0.75rem;
}

.longread h4.expander-title {
    margin-block: 0;
}

.expander-title a.expander {
    font-size: 1.1rem;
}

.large-expander-title a.expander {
    font-size: 1.3rem;
    font-weight: bold;
}

.expander-body {
    padding-top: 1rem;

    .longread-figure {
        margin-block: 1rem;
    }
}

/* Figures with box-like visual */

.contrast-figure {
    padding-block: .05rem;
    padding-inline-start: 1.5rem;
    border-left: 0.15rem solid rgba(0,0,0,0.2);
}

/* Multi-columns */

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 1.4;
    .column {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* Wide and narrow figures */

.wide-figure-mobile {
    --wide-figure-width: 187.5%;
    overflow-x: scroll;
    overflow-y: hidden;
    img { width: var(--wide-figure-width); }
    .caption { margin-inline: 0; }
}

.wide-figure-mobile::before {
    content: " ";
    position: sticky;
    display: block;
    left: 0;
    height: 2rem;
    margin-block: 1rem;
    width: 100%;
    background: url("/assets-local/img/explore-figure.svg") center/contain no-repeat;
}

.wide-figure-mobile-caption-above {
    .caption-above {
        display: flex;
        width: var(--wide-figure-width);
    }
    .fancybox-custom-caption {
        position: sticky;
        left: 0;
    }
}

.wide-figure-mobile-caption-below {
    margin-bottom: 3rem;
    .fancybox-custom-caption {
        display: block;
        padding-bottom: 2rem;  /* To account for absolutely positioned source. */
    }
    .caption-below {
        display: flex;
        width: var(--wide-figure-width);
    }
    .source {
        position: absolute;
    }
}

@media (min-width: 576px) {
    .wide-figure-mobile {
        --wide-figure-width: 125%;
    }
    .narrow-figure img { width: 81.65%; }
}

@media (min-width: 768px) {
    .wide-figure-desktop {
        width: 105%;
    }
    .wide-figure-mobile {
        &::before { content: none; }
        img, .caption-above, .caption-below { width: 100%; }
    }
    .narrow-figure img { width: 66.66%; }
    .seminarrow-figure img { width: 81.65%; }
}

@media (min-width: 1200px) {
    .wide-figure-desktop {
        width: 125%;
    }
}

/* Figure at a beginning of a line of text (typically a heading) */

.leadin-figure {
    width: 8em;
    margin: 0 1.5em 1em 0;

    img {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .leadin-figure {
        float: left;
        margin-bottom: 0;
    }
}
