/* Intro page customizations */

.intro {
    padding-bottom: 0;

    h1 {
        line-height: 1.1;
    }

    .tagline {
        text-transform: uppercase;
        text-align: right;
        float: left;
        margin-top: 1rem;
    }

    p {
        font-size: 1.3em
    }

    p:first-of-type {
        margin-top: -3.5rem;
    }

    .intro-buttons {
        margin-top: 1.5rem;
        margin-bottom: 3rem;
    }

    @media screen and (max-width: 768px) {
        .tagline {
            float: none;
            text-align: left;
            display: inline-block;
            width: 100%;
            word-spacing: 0;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.1rem;
            padding-left: 0;
        }

        p:first-of-type {
            margin-top: 0;
        }

        form {
            padding-left: 0;
        }

        .intro-buttons {
            margin-bottom: 1.5rem;
            margin-inline: -10px;
            display: flex;
            flex-wrap: wrap;

            .btn {
                font-size: 0.8rem;
                padding: 0.3rem 0.5rem;
            }

            .btn-primary {
                font-size: 0.9rem;
            }
        }
    }
}

.card {
    margin: 10px 0;
    border-width: 2px;
}

.preview-card-container {
    height: 100%;
    overflow: hidden;
    // Make it smaller on mobile.
    width: 90%;
    margin-inline: auto;
}

.preview-card {
    text-decoration: none;
    text-align: left;
    // enforce 10:7 aspect ratio
    height: 0;
    padding-bottom: 70%;
    overflow: hidden;

    h6.card-subtitle {
        text-transform: uppercase;
        font-size: 0.9rem;
    }
    p.card-author {
        font-size: 0.9rem;
        color: slategray;
        margin-top: -.375rem;
        margin-bottom: 0.5rem;
    }
    p.card-survey-caption {
        font-size: 0.9rem;
    }
}

.card-with-comment {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 1rem;

    .comment {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-items: center;
        line-height: 1.2;

        .card-comment-number {
            font-size: 3.2rem;
            font-weight: bold;
            color: rgba(0,0,0,0.20);
            padding: 0.75rem;
        }
        .card-comment-text {
            padding: .75rem;
        }
    }

    .card {
        flex-grow: 0;
    }
}

.preview-card-image {
    // Add 70% of the 4px border as well.
    padding-bottom: calc(70% + 3px);
    background-size: cover;
    background-position: bottom;
}

.episode-card-image {
    background-image: url('/assets/episode-card.png');
}

a.card:hover {
    border-color: rgba($c-primary, 0.5);
    text-decoration: none;
}

.small-card-img-overlay {
    background-color: rgba(255, 255, 255, 0.925);
    border-radius: 0;
    top: auto;
    bottom: 0.3rem;
    padding: 0.3rem 0.5rem;

    h5 {
        margin-bottom: 0;
        font-size: 0.9rem;
        font-weight: normal;
        i.fas {
            padding-left: 0.1rem;
            font-size: 0.7rem;
        }
    }
}

@media (min-width: 768px) {
    .card {
        margin-block: 15px;
    }

    .small-card-img-overlay {
        bottom: 0.5rem;
        padding: 0.3rem 1rem;

        h5 {
            font-size: 1rem;
            font-weight: bold;
        }
    }

    .preview-card-container {
        width: 100%;
    }
}

.card-title-overlay {
    background-color: rgba(255, 255, 255, 0.925);
    bottom: auto;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;
}

.more-overlay-box {
    overflow: hidden;
    background-image: radial-gradient(white 30%, rgba(255,255,255,0.8) 60%, rgba(255,255,255,0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px;

    i { // Font Awesome icon
        padding-bottom: 0.2em;
        font-size: 300%;
    }
}

.news-overlay-box {
    background-color: #efefef;
}

/* Tabs for role-specific links */

.bg-extralight-blue { background: $c-extralight-blue !important; }
.bg-extralight-green { background: $c-extralight-orange !important; }
.bg-extralight-red { background: $c-extralight-yellow !important; }

.nav-tabs .nav-link {
    display: flex;
    align-items: center;
    height: 100%;
    border: 0;
    margin: 0 5px 0 0;
    padding: 0.5em;
    font-size: 1.1rem;
    cursor: pointer;
    text-transform: none;
}

@media (min-width: 768px) {
    .nav-tabs .nav-link {
        margin-right: 10px;
        padding: 0.5em 1em;
        font-size: 1.3rem;
    }
}

/* Tiles for topics */

.topic-tile a {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-decoration: none;

    h3 {
        margin-top: .5rem;
        font-weight: 600;
        letter-spacing: 0.02rem;
        font-size: 1.3rem;
    }
}

.topic-tiles:hover .topic-tile:not(:hover) {
    filter: grayscale(80%);
    opacity: 0.6;
}

@media (max-width: 991px) {
    .topic-tile a h3 { font-size: 1.1rem; }
}

/* Carousel with successes */

.carousel-caption {
    background: rgba(0,0,0,0.6);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 20% 50px 20%;
}

.carousel a {
    text-decoration: none;
}

.payment-box {
  display: none;
  #payment-table {
    margin: 20px 0 20px 0;

    th {
      text-align: right;
      padding: 3px 10px;
    }

    td {
      padding: 3px 10px;
      border-left: 2px solid $c-primary;
    }
  }
}

.index-logos {
    max-height: 100px;
    max-width: 49%;
    padding: 10px;
}

@media (min-width: 768px) {
    .index-logos {
        padding-left: 30px;
    }
}

// Newsletter pop-up

#newsletter-modal {
    .modal-content {
        background-color: $c-extralight-blue;
    }

    button.close {
        margin-bottom: -16px;
    }
}
