/* Infographic page customizations */

a.infographic {
    display: block;
    overflow: hidden;
}

/* We cut ~3.5% from sides, ~13.5% from top and 5.3% from bottom */
/* Note that all margin percentages bind to the _width_ */
img.infographic {
    margin: -7.3% -3.5% -4.3% -3.5%;
    max-width: 107%;
}

p.caption {
    font-size: 1.25rem;
    font-style: italic;
}

.perex {
    font-size: 1.25rem;
}

.downloads-box {
    margin-top: 1rem;

    h2 {
        margin-top: 0;
        font-size: 1.35rem;
    }

    p {
        text-align: left;
        font-size: 0.91rem;
    }
}

.dropdown-links a {
    text-decoration: none;
}

.btn-sharing svg {
  width: 1em;
  height: 1.5em;
  margin: 0;
  vertical-align: middle;
  fill: #fff;
  stroke: none;
}

#sharing-embed svg {
    width: 1.3em;
    height: 1.3em;
}

.embed-example-caption {
    font-style: italic;
    padding: 1rem;
    border-width: 2px;
    border-radius: 0.3rem;
    border-style: solid;
    border-color: rgba(0,0,0,0.05);
    margin: 1rem 0 -1rem 0;
}

@media (max-width: 1199.98px) {
    .longread-toc-none {
        // Keep it visible for the largest size so that it does not break the
        // central alignment of the .longread box.
        display: none;
    }
}

.longread {
    font-size: 1.1rem;

    h2 {
        font-size: 1.75rem;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    h4 {
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .longread-small, .footnotes {
        font-size: 1rem;
    }
}

.sticky-toc {
    margin-bottom: 2rem;

    h2::before {
        height: 5px;
        margin-top: -5px;
    }

    h2 {
        font-size: 1.3rem;
        letter-spacing: 0.04em;
    }

    a {
      text-decoration: none;
    }

    h2, li, a:not(:hover) {
        color: $c-grey;
    }

    li {
        text-align: left;
        margin-block: 0.3rem;
        line-height: 1.25;
        padding-left: 0.4rem;
    }

    li::marker {
        color: $c-lighter-grey;
    }

    ol {
        padding-left: 1rem;

        ol {
            padding-left: 0.5rem;
            font-size: 0.9rem;
            margin-block: 0.4rem 0.6rem;
            list-style-type: none;

            li {
                margin-block: 0.3rem;
            }

            a:not(:hover) {
                color: $c-lighter-grey;
            }
        }
    }
}

@media (min-width: 992px) {
    .sticky-toc {
        position: sticky;
        position: -webkit-sticky;
        top: var(--navbar-height);
        left: 100px;

        li {
            margin-block: 0.5rem;
        }

        li.is-active-li::before {
            content: "●";
            display: block;
            position: absolute;
            left: -25px;
            color: $c-primary;
            font-weight: bold;
        }

        .is-active-li .is-active-link, .is-active-li::marker {
            color: $c-primary;
        }
    }
}

.longread-box {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.75rem 0rem 0.75rem 1.5rem;
    border-left: 0.15rem solid rgba(0,0,0,0.2);
    font-size: 1rem;
    line-height: 1.5em;

    h4 {
        margin-top: 0;
    }
    p {
        text-align: left;
    }
    .row {
        margin: 0.5rem 0;
    }
    .card {
        margin: 0;
    }
}

.preview-box, .highlight-text-box {
    max-width: 300px;
}

.no-border-box {
    border-left-width: 0;
}

.double-preview-box {
    max-width: 590px;
}

.highlight-text-box {
    font-size: 1.2rem;
}

@media (min-width: 576px) {
    .preview-box, .highlight-text-box {
        float: right;
        clear: right;
        min-width: 320px;
        width: 50%;
        max-width: 400px;
        margin-left: calc(-25px + 2rem);
        margin-right: 0;
        position: relative;
        left: 25px;
    }
    .no-float-box {
        float: none;
        position: static;
    }
}

@media (min-width: 992px) {
    .preview-box, .highlight-text-box {
        min-width: 350px;
    }
}

@media (min-width: 1200px) {
    .container-xl-fluid {
        max-width: calc(100% - 60px);
        margin-left: 30px;
        margin-right: 30px;
    }
    .longread-xl-space-left {
        flex: 3 0 0;
    }
    .longread-toc {
        flex: 4 0 240px;
    }
    .longread-xl-space-middle {
        flex: 3 0 0;
    }
    .longread {
        flex: 3 0 640px;
        line-height: 1.6;
    }
    .longread-xl-space-right {
        flex: 10 0 240px;
    }

    .preview-box, .highlight-text-box {
        width: 60%;
        left: 40%;
        margin-left: calc(-40% + 2rem);
    }
    .no-float-box {
        margin-left: auto;
        margin-right: auto;
    }

    .double-preview-box {
        float: right;
        clear: right;
        min-width: 550px;
        width: 80%;
        max-width: 700px;
        margin-left: calc(-45% + 2rem);
        margin-right: 0;
        position: relative;
        left: 45%;
    }
}
