/* Publication page customizations */

.publication-cover {
    padding-top: 0;
    color: white;
    background-color: var(--bg-color) !important;

    .cover-img-mobile {
        background-image: var(--cover-img);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-block: 2rem;
        // Enforce a fixed aspect ratio 1:0.8.
        height: 0;
        padding-bottom: 80%;
    }

    .titles .publication-type {
        text-transform: uppercase;
        font-weight: bold;
        padding-block: 1rem;
    }

    .author-logos {
        margin-block: 3rem;

        img {
            height: 40px;
            margin-right: 2rem;
        }
    }

    .sponsor {
        .title {
            font-weight: bold;
        }

        a {
            color: white;
        }

        .disclaimer {
            margin-top: 0.5rem;
            font-size: 0.9rem;
            color: $c-lighter-grey;
        }
    }
}

.download {
    margin-block: 2rem;

    a {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
    }
}

.publication-card {
    background-color: rgba($c-grey, 0.05);
    border-radius: 5%;
    padding: 1.5rem;
    height: 100%;

    h2,
    h3,
    h4 {
        margin-top: 0;
    }
}

main.executive-summary .longread {
    counter-reset: h2counter;

    h2 {
        display: flex;
    }

    h2::before {
        content: counter(h2counter);
        counter-increment: h2counter;
        margin-inline-end: 1rem;
        border: 2px solid $c-primary;
        border-radius: 50%;
        min-width: 1.35em;
        width: 1.35em;
        height: 1.35em;
        text-align: center;
    }

    ul {
        list-style-type: "\2192\0020\0020";

        li {
            margin-block: 0.4rem;
        }
    }
}

@media (min-width: 768px) {
    .publication-cover .titles {
        padding-top: 3rem;

        h1 {
            font-size: 4rem;
        }

        .subtitle {
            font-size: 2rem;
        }

        .author-logos {
            margin-top: 4rem;
        }
    }

    .cover-img-desktop {
        background-image: var(--cover-img);
        background-repeat: no-repeat;
        background-position: center right;
        background-size: 50%;
        padding-right: 50%;
    }

    // Add back double the margin (on the right side) to maintain margin between boxes.
    .publication-card {
        margin-right: 2rem;
    }

    .longread {
        .download {
            text-align: center;
        }
    }
}