/* Main navbar containers */

#nav-container {
    opacity: 1;
    z-index: 1;
    transition: opacity 0.3s ease-out;
}

#search-container {
    position: absolute;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.3s ease-out;

    #omnisearch-suggestions-container {
        display: none;
    }
}

nav.navbar-search {
    #nav-container {
        opacity: 0.05;
        z-index: 0;
    }
    #search-container {
        opacity: 1;
        z-index: 1;

        #omnisearch-suggestions-container {
            display: block;
        }
    }
}

/* Searchbox */

#searchbox-form {
    width: 100%;
    display: flex;
    align-items: stretch;

    #searchbox {
        flex: 1 0 auto;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 0.5rem rgba(0,0,0,0.4);
    }

    #searchHide {
        flex: 0 0 auto;
        margin-left: 0.5rem;
        margin-bottom: 0;
        margin-top: 0;
        box-shadow: 0 0 0.5rem rgba(0,0,0,0.4);
    }

    #searchHide:not(:hover) {
        background-color: white;
    }
}

/* Search results */

#omnisearch-suggestions-container {
    --header-size: 56px;
    --padding-top: 0.5rem;
    --padding-bottom: 1rem;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    max-height: calc(100vh - var(--header-size));
    position: absolute;
    left: 0;
    right: 0;
    top: var(--header-size);

    #omnisearch-suggestions {
        position: static;
        max-height: calc(100vh - var(--header-size) - var(--padding-top) - var(--padding-bottom));
        float: none;
        margin-left: auto;
        margin-right: auto;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: $c-grey transparent;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.4);

        .dropdown-item {
            text-align: left;
            text-transform: none;
            white-space: normal;

            .title {
                padding-top: 0.5rem;
                font-size: 1.1rem;
                display: block;
            }

            .search-preview {
                width: 120px;
                height: 85px;
                float: left;
                margin-right: 0.8rem;
                margin-block: 0.8rem;
                background-color: #f0f0f0;

                img {
                    max-height: 100%;
                }

                div.branded-card {
                    width: 100%;
                    height: 100%;
                    background: url("/assets/favicon.png") 50% 20%/32px no-repeat;
                }
            }

            .snippet {
                margin-block: 0.8rem;
                font-size: 0.8rem;
            }

            .keyword {
                background-color: yellow;
            }
        }

        .dropdown-item.active, .dropdown-item:active {
            color: inherit;
            background-color: $c-extralight-blue;
        }

        .dropdown-item.empty {
            font-size: 0.9rem;
            color: $c-secondary;
        }
    }
}

@media (min-width: 576px) {
    #searchbox-form, #omnisearch-suggestions {
        width: 510px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
    #searchbox-form {
        width: 600px;
    }

    #omnisearch-suggestions-container {
        #omnisearch-suggestions {
            width: 600px;

            .dropdown-item {
                // card-width - image-with - card-margins - image-right-margin
                --text-width: calc(592px - 180px - 2rem - 1rem);

                .title {
                    width: var(--text-width);
                    float: right;
                    padding-top: 1rem;
                    font-size: 1.2rem;
                    display: block;
                }

                .search-preview {
                    float: left;
                    width: 180px;
                    height: 127px;
                    margin-right: 0;
                    margin-block: 1rem;

                    div.branded-card {
                        width: 100%;
                        height: 100%;
                        background-size: 48px;
                        background-position-y: 30%;
                    }
                }

                .snippet {
                    float: right;
                    width: var(--text-width);
                    font-size: 0.9rem;
                    margin-block: 0.5rem;
                }
            }
        }
    }
}
