/* Tag-related style */

.tags-overlay-box {
    top: auto;
    padding: 40px 15px 15px 15px;
    overflow: hidden;

    .tags {
        width: max-content;
        .btn-tag {
            box-shadow: 0 0 2px #00000052;
        }
    }
}

.tags {
    /* Padding to prevent click shadow cut */
    padding-bottom: 3px;
}

.btn-tag {
    margin: 0;
    padding: 0.15rem 0.5rem;
    border-radius: 1em;
    background-color: white;
    color: $c-grey;
    border-color: $c-grey;
}

.btn-tag-link {
    margin-bottom: 10px;
    color: $c-accent;
    border-color: $c-accent;

    &:hover {
        background-color: $c-accent;
        color: $c-body;
    }
}

.btn-tag-highlighted {
    margin-bottom: 10px;
    background-color: $c-accent;
    color: $c-body;

    &:hover {
        border-color: $c-light-blue;
        background-color: $c-light-blue;
        color: $c-body;
    }
}

#page-tag h2 {
    margin-top: 1.5em;
}

@media (min-width: 768px) {
    .tags-list {
        padding-left: 19rem;
    }
}
