.topic-map {
    a {
        box-sizing: border-box;
        display: block;
        text-align: center;
        width: 100%;
        padding: 0.3em 1em;
    }

    img {
        width: 100%;
    }

    .caption {
        font-style: italic;
    }
}

.dashboard {
    font-size: 1.2rem;
    color: dimgray;

    .number, .versus {
        font-size: 2.4rem;
        line-height: 3rem;
        font-weight: bold;
    }
    .unit {
        font-size: 0.8rem;
        padding-left: 0.5em;
        padding-top: 1.4rem;
        position: absolute;
    }
    .title {
        text-transform: uppercase;
        color: black;
    }
    .subtitle {
        font-size: 1.4rem;
    }
    .comment {
        font-weight: normal;
        font-size: 0.8rem;
    }
    .source {
        margin-top: 1em;
        font-weight: normal;
        font-size: 0.8rem;
    }
    .source a {
        color: dimgray;
    }
}

.subtopic {
    font-size: 1.1rem;

    .section-link {
        visibility: hidden;
        font-size: 1rem;
    }
    h2:hover .section-link {
        visibility: visible;
    }
    .qa {
        dt a {
            text-decoration: none;
        }
        dt a i.fas {
            transition: .3s transform ease-in-out;
        }
        dt a.collapsed i.fas {
            transform: rotate(0deg);
        }
        dt a:not(.collapsed) i.fas {
            transform: rotate(-180deg);
        }
        dt:not(:first-of-type) {
            border-top: 1px solid rgba(0,0,0,.25);
        }
        dt {
            padding: 0.5em 0.2em;
        }
        dd {
            margin: 0;
            div {
                padding: 0em 1.5em 1em 1.5em;
            }
        }
        .qa-button {
            float: left;
            padding-right: 0.5em;
        }
    }
}

@media (min-width: 768px) {
    .topic-map img {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .topic-map a img {
        width: 100%;
    }
}
