.topic-map {
    a {
        box-sizing: border-box;
        display: block;
        text-align: center;
        width: 100%;
        padding: 0.3em 1em;
    }

    img {
        width: 100%;
    }

    .caption {
        font-style: italic;
    }
}

.dashboard {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: dimgray;

    .gauge {
        background-color: $c-body;
        border-radius: 1rem;
        padding: 3rem 0 2.5rem 0;
        text-align: center;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .title {
        position: absolute;
        width: 100%;
        top: 0;
        padding: .3rem .5rem;
        background-color: rgba(0, 0, 0, .1);
        text-transform: uppercase;
        color: black;
    }
    .source {
        position: absolute;
        width: 100%;
        bottom: 0.25rem;
        font-weight: normal;
        font-size: 0.8rem;
    }
    .source a {
        color: dimgray;
    }

    .data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1.5rem;
        height: 100%;
        line-height: 1.2;

        .value {
            margin: 0.2rem 0;
            .number {
                font-size: 2.4rem;
                font-weight: bold;
            }
            .unit {
                font-size: 1rem;
                padding-left: 0.5em;
                padding-top: 1.2rem;
                position: absolute;
            }
        }
        .versus {
            margin: .6rem 0rem;
            border-top: 5px dotted rgba(0,0,0, 0.3);
        }
        .subtitle {
            font-size: 1.4rem;
            margin: 0.3rem 0;
        }
        .comment {
            font-weight: normal;
            font-size: 1rem;
            margin: 0.3rem 0;
        }
    }
}

.subtopic {
    font-size: 1.1rem;

    .section-link {
        visibility: hidden;
        font-size: 1rem;
    }
    h2:hover .section-link {
        visibility: visible;
    }
    .qa {
        dt {
            padding: 0.5em 0.2em;
            a {
                text-decoration: none;
                .qa-question {
                    display: flex;
                    flex-direction: row;
                    .qa-button {
                        padding-right: 0.5em;
                    }
                }
                i.fas {
                    transition: .3s transform ease-in-out;
                }
            }
            a.collapsed i.fas {
                transform: rotate(0deg);
            }
            a:not(.collapsed) i.fas {
                transform: rotate(-180deg);
            }
        }
        dt:not(:first-of-type) {
            border-top: 1px solid rgba(0,0,0,.25);
        }
        dd {
            margin: 0;
            div {
                padding: 0em 1.5em 1em 1.5em;
            }
        }
    }
}

@media (min-width: 768px) {
    .topic-map img {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .topic-map a img {
        width: 100%;
    }
}
