# Generated web files
/assets/covers/*
/assets/generated/*
/assets/studies/*
/assets/topics/*
/assets/episodes/*
/_config.yml
/humans.txt
/robots.txt
/.well-known/security.txt
/firebase.json
/.firebaserc
/favicon.ico

# Build Jekyll site, cache, test results
/_site/**
/.cache/**
/.firebase/**
/.lighthouseci/**

# Locally donwloaded and installed gems
/vendor

# Temporary files
*~

# IDE files
.idea
.vscode
