# Generated web files
assets/generated/*
assets/studies/*
_config.yml
CNAME

# Build Jekyll site
_site/*
.cache/*

# Locally donwloaded and installed gems
vendor

# Temporary files
*~

# IDE files
.idea
.vscode
