os: linux
dist: focal    # Ubuntu 20.04 LTS
language: ruby
gemfile: web-core/Gemfile

# Clone full git history for git-restore-mtime to work
git:
  depth: false

# Install the necessary software
addons:
  chrome: stable
  apt:
    sources:
      - sourceline: 'ppa:inkscape.dev/stable'
    packages:
    - inkscape
    - imagemagick

# Restore file times for better GNU Make optimizations
before_install:
  - git clone --depth=1 https://github.com/MestreLion/git-tools # Distro version is currently broken
  - ./git-tools/git-restore-mtime --force
  - rm -rf ./git-tools

install:
  - make bundle-install

script:
  - make check

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # Speeds up installation of html-proofer

cache:
  bundler: true               # Enable caching of bundler gem packages
  directories:
  - $TRAVIS_BUILD_DIR/web-core/vendor  # Enable caching installed bundle gems
  - $TRAVIS_BUILD_DIR/web-core/.cache  # Enable caching link checks
  - $TRAVIS_BUILD_DIR/web-core/assets/generated  # Enable caching of generated infographics
  - $TRAVIS_BUILD_DIR/web-core/assets/studies  # Enable caching of copied study thumbnails
  - $TRAVIS_BUILD_DIR/web-core/assets/covers  # Enable caching of generated explainer covers

deploy:
  # Firebase production deployment
  - provider: firebase # uses FIREBASE_TOKEN
    on:
      branch: master
    skip_cleanup: true
    message: "Travis CI production ($TRAVIS_BRANCH@$TRAVIS_COMMIT)"
  # Firebase preview deployment
  - provider: script # uses FIREBASE_TOKEN
    on:
      all_branches: true
      condition: $TRAVIS_BRANCH = preview-*
    skip_cleanup: true
    script: >-
      wget -q --output-document=firebase https://firebase.tools/bin/linux/latest &&
      chmod +x firebase &&
      ./firebase hosting:channel:deploy $TRAVIS_BRANCH
  # Lighthouse performance analysis
  - provider: script
    on:
      branch: lighthouse
    skip_cleanup: true
    script: >-
      curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.37.2/install.sh | bash &&
      export NVM_DIR="$HOME/.nvm" &&
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" &&
      [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion" &&
      nvm use 12 &&
      npm install -g @lhci/cli@0.7.x &&
      lhci autorun
