# Master Jekyll config file (will have the local config appended to)

# CDN links and hashes
cdn:
    # See https://www.srihash.org for info on how to generate the hashes or find the library on https://cdnjs.com/
    bootstrap_css:      "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    bootstrap_css_hash: "sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
    fa:                 "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    fa_hash:            "sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    jquery:             "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    jquery_hash:        "sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    katex_css:          "https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css"
    katex_css_hash:     "sha512-SBL9R0mkYbWGuy/0DLHNxYHPScUMar9Y55t8vrnN42ZYfLZ4SnjXqCFfEhPTnj9pedAs5F+WZkzjq1qGS8+VGg=="
    bootstrap_js:       "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"
    bootstrap_js_hash:  "sha512-wV7Yj1alIZDqZFCUQJy85VN+qvEIly93fIQAN7iqDFCPEucLCeNFz4r35FCo9s6WrpdDQPi80xbljXB8Bjtvcg=="
    tocbot:             "https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.12.2/tocbot.min.js"
    tocbot_hash:        "sha512-8u1QblAcGUuhEv26YgTYO3+OtPL7l37qiYoPQtahVTaiLn/H3Z/K16TOXJ3U7PDYBiJWCWKM0a+ELUDGDgED2Q=="
    fuse:               "https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.4.6/fuse.min.js"
    fuse_hash:          "sha512-KnvCNMwWBGCfxdOtUpEtYgoM59HHgjHnsVGSxxgz7QH1DYeURk+am9p3J+gsOevfE29DV0V+/Dd52ykTKxN5fA=="
    fancyapps_js:       "https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"
    fancyapps_js_hash:  "sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA=="
    fancyapps_css:      "https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css"
    fancyapps_css_hash: "sha512-H9jrZiiopUdsLpg94A333EfumgUBpO9MdbxStdeITo+KEIMaNfHNvwyjjDJb+ERPaRS6DpyRlKbvPUasNItRyw=="

# What files to include/exclude from final site?
include: [ ".well-known" ] # .well-known-templates implicitly excluded
exclude:
    - README.md            # Developer information
    - LICENSE.md           # Developer information
    - Gemfile              # Build settings
    - Gemfile.lock         # Build settings
    - Makefile             # Build settings
    - config-templates     # Build settings
    - firebase.json        # Deploy settings
    - utils                # Development files
    - Dockerfile           # Containerization
    - _infographics/*/*.pdf # Original infographics (build moves them to assets)
    - _studies/*.jpg        # Study images
    - _studies/*.png        # Study images
    - _studies/*.pdf        # Original study infographics (build moves them to assets)
    - _explainers/*.jpg     # Explainer cover image
    - .cache/               # Intermediate files

sass:
    sass_dir: assets/_scss
    style: compressed
cache_dir: .cache
force_polling: true    # Force polling to resolve Windows issues with watch

# Set folders for global and local plugins
plugins_dir: [ _plugins, ../plugins-local ]

# Enable external plugins
plugins:
  - jekyll-redirect-from
  - jekyll-sitemap
  - jekyll-last-modified-at

# Set custom markdown processor for glossary tag expansion
markdown: FaktaOKlimatuProcessor

target-blank:
    add_css_classes: ext-link

html-beautify:
  include:
    - "*.html"
    - "*.md"
