{%- assign author = include.author %}
{%- if author.id or author.ids %}
  {%- if author.show_internal_affiliation %}
    {%- assign affiliation = site.title %}
  {%- else %}
    {%- assign affiliation = nil %}
  {%- endif %}

  {%- assign ids = author.ids | join: "," | default: author.id %}
  {%- assign ids_list = ids | split: "," %}

  {%- for id in ids_list %}
    {%- for group in site.data.organization-members %}
      {%- assign member = group.members | find: "id",id %}
      {%- if member %}<span class="name"><a href="{{ '/o-nas#' | append: member.id }}">{{ member.name_formal | default: member.name }}</a></span>{%- endif %}
    {%- endfor %}
  {%- endfor %}
{%- else %}
  {%- assign affiliation = author.affiliation %}
  {%- if author.link %}
    <span class="name"><a href="{{ link }}">{{ author.name }}</a></span>
  {%- else %}
    <span class="name">{{ author.name }}</span>
  {%- endif %}
{%- endif %}
{%- if affiliation %}<span class="affiliation">{{ affiliation }}</span>{%- endif %}
