{%- for id in include.ids %}
  {%- assign found=false %}
  {%- for group in site.data.organization-members %}
    {%- assign member = group.members | find: "id",id %}
    {%- if member -%}
      <span class="name">
        {%- unless member.no_link %}
          <a href="/o-nas#{{ member.id }}">
            {{ member.name_formal | default: member.name }}
          </a>
        {%- else %}
          {{ member.name_formal | default: member.name }}
        {%- endunless %}
      </span>
      {%- assign found=true %}
    {%- endif %}
  {%- endfor %}
  {%- unless found %}
    {%- if include.check -%}
      <div class="build-error">Author {{ id }} is not present in organization members</div>
    {%- else -%}
      <span class="name">{{ id }}</span>
    {%- endif %}
  {%- endunless %}
  {%- unless forloop.last -%}
    <span>, </span>
  {%- endunless %}
{%- endfor -%}
