{%- assign author = include.author %}
{%- assign affiliation = nil %}
{%- if author.id %}
  {%- if author.show_internal_affiliation %}
    {%- assign affiliation = site.title %}
  {%- endif %}
  {%- assign ids = author.id | split: "," %}
  {% include author-internal.html ids=ids check=true %}
{%- elsif author.ids %}
  {% include author-internal.html ids=author.ids check=true %}
{%- elsif author.names-or-ids %}
  {% include author-internal.html ids=author.names-or-ids check=false %}
{%- else %}
  {%- assign affiliation = author.affiliation %}
  {%- if author.link %}
    <span class="name"><a href="{{ author.link }}" class="no-ext-link-icon">{{ author.name }}</a></span>
  {%- else %}
    <span class="name">{{ author.name }}</span>
  {%- endif %}
{%- endif %}
{%- if affiliation %}<span class="affiliation">, {{ affiliation }}</span>{%- endif %}
