<dl class="data-header">
    <dt>{{ site.data.lang.text.dataset.source }}</dt><dd>{{ include.name }}</dd>
    {% if include.description %}
    <dt>{{ site.data.lang.text.dataset.description }}</dt><dd>{{ include.description }}</dd>
    {% endif %}
    <dt>{{ site.data.lang.text.dataset.link }}</dt><dd class="ellipsis"><a href="{{ include.url }}">{{ include.url }}</a></dd>
    {% if include.doi %}
    <dt>DOI</dt><dd class="ellipsis"><a href="{{ include.doi }}">{{ include.doi }}</a></dd>
    {% endif %}
    <dt>{{ site.data.lang.text.dataset.licence }}</dt>
    <dd>
            {% if include.licence-url %}
            <a href="{{ include.licence-url }}">{{ include.licence }}</a>
            {% else %}
            {{ include.licence }}
            {% endif %}
            {% if include.licence-proof %}
            ({{ site.data.lang.text.dataset.see }} <a href="{{ include.licence-proof }}">{{ site.data.lang.text.dataset.licence-proof }}</a>)
            {% endif %}
    </dd>
</dl>
