{%- if include.expanded %}
  {%- assign link-collapsed="" %}
  {%- assign div-expanded=" show" %}
{%- else %}
  {%- assign link-collapsed=" collapsed" %}
  {%- assign div-expanded="" %}
{%- endif %}
<div class="expander-block">
  <h4 class="expander-title {{ include.label-class }}">
    <a class="expander{{ link-collapsed }}" data-toggle="collapse" data-target="#collapse-figure-{{ include.name }}" aria-expanded="false" aria-controls="collapse-figure-{{ include.name }}">
      <div class="expander-button">
        <i class="fas fa-chevron-down"></i>
      </div>
      <p>
        {{ include.label }}
      </p>
    </a>
  </h4>
  <div class="expander-body collapse{{ div-expanded }}" id="collapse-figure-{{ include.name }}">{{ include.content | markdownify }}</div>
</div>