<div class="expander-block">
  <h4 class="expander-title {{ include.label-class }}">
    {%- if include.expanded %}
      <span>{{ include.label | markdownify }}</span>
    {%- else %}
      <a class="expander collapsed" data-toggle="collapse" data-target="#collapse-figure-{{ include.name }}" aria-expanded="false" aria-controls="collapse-figure-{{ include.name }}">
        <div class="expander-button">
          <i class="fas fa-chevron-down"></i>
        </div>
        <span>
          {{ include.label | markdownify }}
        </span>
      </a>
    {%- endif %}
  </h4>
  {%- if include.expanded %}
    <div class="expander-body">{{ include.content | markdownify }}</div>
  {%- else %}
    <div class="expander-body collapse" id="collapse-figure-{{ include.name }}">{{ include.content | markdownify }}</div>
  {%- endif %}
</div>
