<div class="longread-figure">
  <a href="/assets-local/figures/{{ page.slug }}/{{ include.name }}">
    <img src="/assets-local/figures/{{ page.slug }}/{{ include.name }}" alt="{{ include.alt }}">
  </a>
  {%- if include.caption or (include.source-text and include.source-url) %}
  <div class="source">
    {%- if include.caption %}
      {{- include.caption }} 
    {%- endif %}
    {%- if include.source-text %}
      Zdroj: <a href="{{ include.source-url }}">{{ include.source-text }}</a>
    {%- endif %}
  </div>
  {%- endif %}
</div>
