<div class="longread-figure {{ include.class }}">
  {%- if include.caption-above %}
    <div class="caption caption-above">{{ include.caption-above | markdownify }}</div>
  {%- endif %}
  {%- capture picture %}
  <picture>
    {%- if include.name-mobile %}
    <source media="(max-width: 575px)" srcset="/assets-local/figures/{{ page.slug }}/{{ include.name-mobile }}" />
    {%- endif %}
    <img src="/assets-local/figures/{{ page.slug }}/{{ include.name }}" alt="{{ include.alt }}" class="{{ include.image-class }}">
  </picture>
  {%- endcapture %}
  {%- if include.no-lightbox %}
    {{ picture }}
  {%- else %}
  <a class="lightbox-desktop-only" href="/assets-local/figures/{{ page.slug }}/{{ include.name }}" data-lightbox
    {%- assign suffix = include.name | split:'.' | last %}
    {%- if suffix == "svg" %}
    data-type="iframe"
    {%- endif %}
    {%- if include.caption or include.source-text %}
    data-caption="..."
    {%- endif %}>
    {{ picture }}
  </a>
  {%- endif %}
  {%- if include.caption or include.source-text %}
  <div class="fancybox-custom-caption">
    {%- if include.caption %}
      <div class="caption caption-below">
        {{- include.caption | markdownify }}
      </div>
    {%- endif %}
    {%- if include.source-text %}
      <div class="source">
        {{ site.data.lang.text.figure.source }} {% if include.source-url %}<a href="{{ include.source-url }}">{% endif %}{{ include.source-text }}{% if include.source-url %}</a>{% endif %}
      </div>
    {%- endif %}
  </div>
  {%- endif %}
</div>
