<div class="longread-figure">
  <a href="/assets-local/figures/{{ page.slug }}/{{ include.name }}" data-fancybox
    {%- assign suffix = include.name | split:'.' | last %}
    {%- if suffix == "svg" %}
    data-type="iframe"
    {%- endif %}
    {%- if include.caption or (include.source-text and include.source-url) %}
    data-caption="..."
    {%- endif %}>
    <picture>
      {%- if include.name-mobile %}
      <source media="(max-width: 767px)" srcset="/assets-local/figures/{{ page.slug }}/{{ include.name-mobile }}" />
      {%- endif %}
      <img src="/assets-local/figures/{{ page.slug }}/{{ include.name }}" alt="{{ include.alt }}">
    </picture>
  </a>
  {%- if include.caption or (include.source-text and include.source-url) %}
  <div class="source fancybox-custom-caption">
    {%- if include.caption %}
      {{- include.caption }} 
    {%- endif %}
    {%- if include.source-text %}
      Zdroj: {%- if include.source-url %}<a href="{{ include.source-url }}">{% endif %}
        {{ include.source-text }}
        {%- if include.source-url %}</a>{% endif %}
    {%- endif %}
  </div>
  {%- endif %}
</div>
