<footer class="py-4">
    <div class="container"><div class="row">
        <div class="col-12 col-md-6 col-lg-4 mt-3 text-md-center">
            <h3>{{ site.data.lang.footer.follow-us }}</h3>
            <ul class="social justify-content-md-center">
                {% if site.twitter %}
                <li><a class="no-ext-link-icon" href="https://twitter.com/{{ site.twitter }}">
                <span class="fab fa-twitter-square"></span></a></li>
                {% endif %}
                {% if site.facebook %}
                <li><a class="no-ext-link-icon" href="https://facebook.com/{{ site.facebook }}">
                <span class="fab fa-facebook-square"></span></a></li>
                {% endif %}
                {% if site.linkedin %}
                <li><a class="no-ext-link-icon" href="https://www.linkedin.com/company/{{ site.linkedin }}">
                <span class="fab fa-linkedin"></span></a></li>
                {% endif %}
                {% if site.instagram %}
                <li><a class="no-ext-link-icon" href="https://www.instagram.com/{{ site.instagram }}">
                <span class="fab fa-instagram-square"></span></a></li>
                {% endif %}
                {% if site.youtube %}
                <li><a class="no-ext-link-icon" href="https://www.youtube.com/channel/{{ site.youtube }}">
                <span class="fab fa-youtube"></span></a></li>
                {% endif %}
            </ul>
            {% if site.data.lang.footer.support-us %}
            <a href="{{ site.fundraising }}" class="btn btn-outline-secondary d-md-none"><i class="fas fa-fw fa-heart"></i> {{ site.data.lang.footer.support-us }}</a>
            {% endif %}
        </div>
        <div class="col-12 col-md-6 col-lg-4 mt-3 pl-md-5">
            {% if site.data.lang.footer.how-to-use %}
            <a class="no-ext-link-icon" href="/{{ site.slugs.how-to-use }}"><span class="fas fa-fw fa-redo"></span> {{ site.data.lang.footer.how-to-use }}</a><br/>
            {% endif %}
            {% if site.data.lang.footer.further-sources %}
            <a class="no-ext-link-icon" href="/{{ site.slugs.further-sources }}"><span class="fas fa-fw fa-bookmark"></span> {{ site.data.lang.footer.further-sources }}</a><br/>
            {% endif %}
            {% if site.data.lang.footer.privacy-policy %}
            <a href="/gdpr"><span class="fas fa-fw fa-file-contract"></span> {{ site.data.lang.footer.privacy-policy }}</a><br/>
            {% endif %}
            {% if site.github %}
            <a class="no-ext-link-icon" href="https://github.com/{{ site.github }}/"><span class="fab fa-fw fa-github"></span> {{ site.github }}</a><br/>
            {% endif %}
        </div>
        <div class="col-12 col-md-6 col-lg-4 mt-3 text-md-center">
            {%- assign selected_lang = site.langs | find_exp: "item", "item.code == site.lang" %}
            {%- if selected_lang %}
            <div class="dropdown mb-2">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="langMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="flag" alt="{{ selected_lang.title }}" src="/assets/flags/{{ selected_lang.code }}.svg" />{{ selected_lang.title }}
                </button>
                <div class="dropdown-menu" aria-labelledby="langMenuButton">
                    {%- assign other_langs  = site.langs | where_exp: "item", "item.code != site.lang" %}
                    {%- for lang in other_langs %}
                    <a class="dropdown-item no-ext-link-icon" href="{{ lang.link }}"><img class="flag" alt="{{ lang.title }}" src="/assets/flags/{{ lang.code }}.svg" />{{ lang.title }}</a>
                    {%- endfor -%}
                </div>
            </div>
            {%- endif %}
            &copy; {{ site.git.commit_date | date: "%Y" }} {{ site.copyright }}<br/>
            <a href="{{ site.data.lang.licence.link }}" title="{{ site.data.lang.licence.title }}" rel="license">{{ site.data.lang.licence.id }}</a><br/>
            <a class="no-ext-link-icon" href="mailto:{{ site.email }}">{{ site.email }}</a><br/>
        </div>
    </div></div>
</footer>
