<footer>
    <div class="container">
        <div>
            <a class="no-ext-link-icon" href="{{ site.newsletter }}">
            <span class="fas fa-fw fa-envelope-open-text"></span> {{ site.data.lang.footer.get-newsletter }}</a><br/>
            <a class="no-ext-link-icon" href="{{ site.fundraising }}">
            <span class="fas fa-fw fa-heart"></span> {{ site.data.lang.footer.support-us }}</a><br/>
            <a class="no-ext-link-icon" href="https://twitter.com/{{ site.twitter }}">
            <span class="fab fa-fw fa-twitter"></span> @{{ site.twitter }}</a><br/>
            <a class="no-ext-link-icon" href="mailto:{{ site.email }}">
            <span class="fas fa-fw fa-envelope"></span> {{ site.email }}</a><br/>
        </div>
        <div class="text-right">
            {{ site.copyright }}<br/>
            <a href="/gdpr">{{ site.data.lang.footer.privacy-policy }}</a><br/>
            {{ site.data.lang.footer.last-change }}: <a class="no-ext-link-icon" href="https://github.com/{{ site.github }}/commit/{{ site.git.commit_hash }}"
            title="commit {{ site.git.commit_hash_short }}">{{ site.git.commit_date }}</a><br/>
            GitHub: <a class="no-ext-link-icon" href="https://github.com/{{ site.github }}/">{{ site.github }}</a>
        </div>
    </div>
</footer>
