<div class="modal fade show" id="online-course-modal" tabindex="-1" role="dialog" aria-label="" aria-hidden="true" style="display: block;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <h2>Přihlašte se <br>do online kurzu <br>Dekarbonizujeme Česko</h2>
        <p>V online kurzu se podíváme na to, jak konkrétně snižovat emise ČR. A pomůžeme vám najít, jak se můžete zapojit právě vy.</p>
        <div class="icons-container">
          <div>
            <img src="/assets-local/img/icoBigHodiny.svg"><br>
            <span class="big-number">10</span><br>hodin studia
          </div>
          <div>
            <img src="/assets-local/img/icoBigLekce.svg"><br>
            <span class="big-number">11</span><br>interaktivních lekcí
          </div>
          <div>
            <img src="/assets-local/img/icoBigExperts.svg"><br>
            <span class="big-number">20</span><br>odborných autorek a autorů
          </div>
        </div>
        <a id="online-course" class="ext-link ext-link nav-link no-ext-link-icon btn btn-white" href="https://dekarbonizujemecesko.cz/" target="_blank" rel="noopener noreferrer">
          <i class="fa-solid fa-hand"></i> Chci se přihlásit
        </a>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show"></div>
