{% assign item = include.item %}
{% case item.layout %}
    {% when 'infographic' %}
        <img src="/assets/generated/{{ item.slug }}_600.png" alt="{{ item.title }}" title="{{ item.title }}" class="img-fluid" />
        {%- unless include.no_include_tags %}
        <div class="card-img-overlay tags-overlay-box">
            {% include tags.html tags=item.tags %}
        </div>
        {%- endunless %}
    {% when 'dataset' %}
        <img src="/assets-local/datasets/{{ item.slug }}.png" alt="{{ site.data.lang.text.dataset.dataset }}: {{ item.title }}" title="{{ site.data.lang.text.dataset.dataset }}: {{ item.title }}" class="img-fluid card-img" />
        <div class="card-img-overlay card-dataset-overlay">
          <h5 class="card-title">{{ item.title }}</h5>
        </div>
        {%- unless include.no_include_tags %}
        <div class="card-img-overlay tags-overlay-box">
            {% include tags.html tags=item.tags %}
        </div>
        {%- endunless %}
    {% when 'explainer' %}
        <div style="background-image: url('/assets-local/cover/{{ item.slug }}.jpg')" title="{{ site.data.lang.text.explainer.explainer }}: {{ item.title }}" class="preview-card-image img-fluid card-img">
        </div>
        <div class="card-img-overlay card-dataset-overlay">
        <h5 class="card-title">{{ item.title }}</h5>
        <h6 class="card-subtitle">{{ site.data.lang.text.explainer.explainer }}</h6>
        </div>
        {%- unless include.no_include_tags %}
        <div class="card-img-overlay tags-overlay-box">
            {% include tags.html tags=item.tags %}
        </div>
        {%- endunless %}
    {% when 'study' %}
        <div class="card-body">
            <h5>{{ item.title }}</h5>
            <p class="text-secondary">{{ item.study-institution }}, {{ item.study-year }}</p>
            <p class="card-text">{{ item.caption }}</p>
        </div>
        {%- unless include.no_include_tags %}
        <div class="card-img-overlay tags-overlay-box">
            {% include tags.html tags=item.tags %}
        </div>
        {%- endunless %}
    {% when 'survey' %}
        <div class="card-body">
            <h5>{{ item.title }}</h5>
            <p class="card-text mt-3">{{ item.caption }}</p>
        </div>
        {%- unless include.no_include_tags %}
        <div class="card-img-overlay tags-overlay-box">
            {% include tags.html tags=item.tags %}
        </div>
        {%- endunless %}
    {% else %}
        <p>Unknown layout.</p>
{% endcase %}
