{%- if include.comment %}
  <div class="card-with-comment">
    <div class="comment">
      {%- if include.comment-key %}
      <div class="card-comment-number">{{ include.comment-key }}</div>
      {%- endif %}
      <div class="card-comment-text">{{ include.comment | markdownify }}</div>
    </div>
{%- endif %}

{% assign item = site.infographics | concat: site.studies | concat: site.explainers | concat: site.episodes | find_exp:"item","item.slug == include.slug" %}
{%- if item %}
  <a href="{{ item | get_url }}" class="preview-card card">
    {% include preview-block-without-link.html item=item no_include_tags=include.no_include_tags %}
  </a>
{%-else %}
  <div class="build-error">No item with slug {{ include.slug }}</div>
{%-endif %}

{%- if include.comment %}
  </div>
{%- endif %}
