<div class="longread-box {{ include.class | default: 'preview-box' }}">
  {%- assign slugs = include.slug | split: "," %}
  {%- if include.title %}
    <h4>{{ include.title }}</h4>
  {%- endif %}
  {%- if include.text %}
    <div>
      {{ include.text | markdownify }}
    </div>
  {%- endif %}
  {%- if include.slug %}
    <div class="row">
      {%- for slug in slugs %}
        {%- if slug==include.selected %}
          {%- assign selected_class = "selected-preview-card" %}
        {%- else %}
          {%- assign selected_class = "" %}
        {%- endif %}
        <div class="{{ include.card_class | default: 'py-1 w-100' }}">
          {%- include preview-block.html slug=slug no_include_tags=true class=selected_class show-series-order=true %}
        </div>
      {%- endfor %}
    </div>
  {%- endif %}
  {%- if include.text-below %}
    <div>
      {{ include.text-below | markdownify }}
    </div>
  {%- endif %}
</div>
