---
# Tento soubor by měl obsahovat pouze @importy ze složky assets/_scss.
# Samotná složka _scss není exportovaná na web, je pouze použita na zkompilování celého CSS souboru.
---

@import "colors.scss";

@import "../../assets-local/local.scss";
@import "core_design.scss";
@import "search.scss";
@import "dataset.scss";
@import "figure.scss";
@import "index.scss";
@import "infographic.scss";
@import "news.scss";
@import "study.scss";
@import "tags.scss";
@import "topic.scss";
@import "explainer.scss";
@import "player.scss";
