---
# Tento soubor by měl obsahovat pouze @use modulů ze složky assets/_scss.
# Samotná složka _scss není exportovaná na web, je pouze použita na zkompilování celého CSS souboru.
---

// Language-specific rules.
@use "../../assets-local/local";

// Universal rules.
@use "authors";
@use "core_design";
@use "dataset";
@use "explainer";
@use "figure";
@use "index";
@use "infographic";
@use "news";
@use "publication";
@use "search";
@use "study";
@use "table";
@use "tags";
@use "topic";
