<!doctype html>
<html lang="cs">
<head>
  {% include header.html %}
</head>

<body>
  {% include navigation.html %}
  <main role="main">
    {%- if page.cover-source-text and page.cover-source-url %}
    <div class="cover-header-source">
      <a class="collapsed cover-header-source-toggle" data-toggle="collapse" href="#coverLicense">
        <i class="fas fa-info-circle"></i>
      </a>
      <div class="collapse" id="coverLicense">
        <dl>
          <dt>{{ site.data.lang.text.explainer.source }}:</dt>
          <dd><a href="{{ page.cover-source-url }}">{{ page.cover-source-text }}</a></dd>
          {%- if page.cover-source-author %}
            <dt>{{ site.data.lang.text.explainer.author }}:</dt>
            <dd>{{ page.cover-source-author }}</dd>
          {%- endif %}
            <dt>
              {{ site.data.lang.text.explainer.licence }}:
            </dt>
            <dd>
              <a href="{{ page.cover-source-license-url }}">{{ page.cover-source-license }}</a>
            </dd>
          </dl>
        </div>
    </div>
    {%- endif %}
    <div class="explainer-cover-container">
      <div class="explainer-cover section"
          style="--path-desktop: url(/assets/covers/{{ page.slug }}.jpg);
                 --path-mobile: url(/assets/covers/{{ page.slug }}_1150.jpg)">
        <div class="container clearfix">
          <div class="row justify-content-center">
            <div class="col">
              <div class="explainer-type">{{ site.data.lang.text.explainer.explainer }}</div>
              <h1>{{ page.title }}</h1>
              <div class="explainer-metadata">
                {% include tags.html tags=page.tags link="true" %}
                <span class="author"><a href="/{{ site.slugs.about }}#members">{{ page.author }}</a></span>
                <span class="date">{{ page.published | date: "%-d. %-m. %Y" }}</span>
              {% assign download_path = "/assets/studies/" | append: page.slug %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container container-xl-fluid">
        <div class="row justify-content-center">
          <div class="longread-xl-space-left"></div>
          <div class="col-lg-4 longread-toc invisible">
            <div class="sticky-toc">
              <h2>{{ site.data.lang.text.toc }}</h2>
              <div id="TOC"></div>
            </div>
          </div>
          <div class="longread-xl-space-middle"></div>
          <div class="col-lg-8 longread">
            {%- if page.perex %}
            <p class="perex explainer-perex">
              {{ page.perex }}
            </p>
            {%- endif %}
            {{ content }}
          </div>
          <div class="longread-xl-space-right"></div>
        </div>
      </div>
    </div>
    {% assign objects = site.documents | where_exp: "item", "'infographics, studies, explainers' contains item.collection"
    | where_exp: "item", "item.tags contains page.tags-topics[0]" | where_exp:"item","item.slug != page.slug" | sample: 3 %}
    {% if objects.size > 0 %}
    <div class="section">
      <div class="container">
        <h2>{{ site.data.lang.text.related.title }}</h2>
        <p>{{ site.data.lang.text.related.caption }}</p>
        {% include preview-blocks.html blocks=objects limit=3 %}
      </div>
    </div>
    {% endif %}
  </main>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
