<!doctype html>
<html lang="{{ site.lang }}">
<head>
  {% include header.html %}
</head>

<body>
  {% include navigation.html %}
  <main>
    {%- if page.cover-source-text %}
    <div class="cover-header-source">
      <a class="collapsed cover-header-source-toggle" data-toggle="collapse" href="#coverLicense">
        <i class="fas fa-info-circle"></i>
      </a>
      <div class="collapse" id="coverLicense">
        <dl>
          <dt>{{ site.data.lang.text.explainer.source }}:</dt>
          <dd>
            {% if page.cover-source-url %}<a href="{{ page.cover-source-url }}">{% endif %}
              {{ page.cover-source-text }}
            {% if page.cover-source-url %}</a>{% endif %}
          </dd>
          {%- if page.cover-source-author %}
            <dt>{{ site.data.lang.text.explainer.author }}:</dt>
            <dd>{{ page.cover-source-author }}</dd>
          {%- endif %}
            <dt>
              {{ site.data.lang.text.explainer.licence }}:
            </dt>
            <dd>
              {% if page.cover-source-license-url %}<a href="{{ page.cover-source-license-url }}">{% endif %}
                {{ page.cover-source-license }}
              {% if page.cover-source-license-url %}</a>{% endif %}
            </dd>
          </dl>
        </div>
    </div>
    {%- endif %}
    <div class="explainer-cover-container">
      <div class="explainer-cover section"
          style="--path-desktop: url(/assets/covers/{{ page.slug }}.jpg);
                 --path-mobile: url(/assets/covers/{{ page.slug }}_1150.jpg)">
        <div class="container clearfix">
          <div class="row justify-content-center">
            <div class="col">
              <div class="explainer-type">{{ site.data.lang.text.explainer.explainer }}</div>
              <h1>{{ page.title }}</h1>
              <div class="explainer-metadata">
                {% include tags.html tags=page.tags slug=page.slug link="true" %}
                <span class="author"><a href="/{{ site.slugs.about }}#members">{{ page.author }}</a></span>
                <span class="date">{{ page.published | date: "%-d. %-m. %Y" }}</span>
              {% assign download_path = "/assets/studies/" | append: page.slug %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container container-xl-fluid">
        <div class="row justify-content-center">
          <div class="longread-xl-space-left"></div>
          <div class="col-lg-4 longread-toc invisible">
            <div class="sticky-toc">
              <h2>{{ site.data.lang.text.toc }}</h2>
              <div id="TOC"></div>
            </div>
          </div>
          <div class="longread-xl-space-middle"></div>
          <div class="col-lg-8 longread">
            {%- if page.perex %}
            <p class="perex explainer-perex">
              {{ page.perex }}
            </p>
            {%- endif %}
            {{ content }}
          </div>
          <div class="longread-xl-space-right"></div>
        </div>
      </div>
    </div>
    {% include related.html %}
  </main>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
