<!doctype html>
<html lang="{{ site.lang }}">
<head>
  {% include header.html %}
</head>

<body>
  {% include navigation.html %}
  <main>
    {%- if page.cover-source-text %}
    <div class="cover-header-source">
      <a class="collapsed cover-header-source-toggle" data-toggle="collapse" href="#coverLicense">
        <i class="fas fa-info-circle"></i>
      </a>
      <div class="collapse" id="coverLicense">
        <dl>
          <dt>{{ site.data.lang.text.explainer.source }}:</dt>
          <dd>
            {% if page.cover-source-url %}<a href="{{ page.cover-source-url }}">{% endif %}
              {{ page.cover-source-text }}
            {% if page.cover-source-url %}</a>{% endif %}
          </dd>
          {%- if page.cover-source-author %}
            <dt>{{ site.data.lang.text.explainer.author }}:</dt>
            <dd>{{ page.cover-source-author }}</dd>
          {%- endif %}
            <dt>
              {{ site.data.lang.text.explainer.licence }}:
            </dt>
            <dd>
              {% if page.cover-source-license-url %}<a href="{{ page.cover-source-license-url }}">{% endif %}
                {{ page.cover-source-license }}
              {% if page.cover-source-license-url %}</a>{% endif %}
            </dd>
          </dl>
        </div>
    </div>
    {%- endif %}
    <div class="explainer-cover-container">
      <div class="explainer-cover section"
          style="--path-desktop: url(/assets/covers/{{ page.slug }}.jpg);
                 --path-mobile: url(/assets/covers/{{ page.slug }}_1150.jpg)">
        <div class="container clearfix">
          <div class="row justify-content-center">
            <div class="col">
              <div class="explainer-type">
                {%- if page.series-order %}
                  {{ site.data.lang.text.explainer.series }}
                  {%- for topic in site.topics %}
                    {%- assign series = topic.subtopics | find: "id", page.series-id %}
                    {%- if series %}
                      <span>{{ series.title }}</span>
                      {%- break %}
                    {%- endif %}
                  {%- endfor %}
                {%- else if page.type %}
                  {{ page.type }}
                {%- endif %}
              </div>
              <h1>
                {%- if page.series-order %}
                  <span class="series-order">{{page.series-order}}.</span>
                {%- endif %}
                  <span class="series-title">{{ page.title }}</span>
              </h1>
              <div class="explainer-metadata">
                <div class="date-tags">
                  <div class="date">
                    {{ page.published | date: "%-d. %-m. %Y" }}
                    {%- if page.updated %}
                      <span class="updated">
                        ({{ site.data.lang.text.explainer.updated }}
                        {{ page.updated | date: "%-d. %-m. %Y" }})
                      </span>
                    {%- endif %}
                  </div>
                  {% include tags.html tags=page.tags slug=page.slug link="true" %}
                </div>
                {%- if page.author %}
                  <span class="authors author"><a href="/{{ site.slugs.about }}#members">{{ page.author }}</a></span>
                {%- else if page.authors %}
                  {% include authors.html authors=page.authors %}
                {%- endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container-md container-xl-fluid">
        <div class="row justify-content-center">
          <div class="longread-xl-space-left"></div>
          <div class="col-lg-4 longread-toc invisible">
            <div class="sticky-toc">
              <h2>{{ site.data.lang.text.toc }}</h2>
              <div id="TOC"></div>
            </div>
          </div>
          <div class="longread-xl-space-middle"></div>
          <div class="col-lg-8 longread">
            {%- if page.perex %}
            <p class="perex">
              {{ page.perex }}
            </p>
            {%- endif %}
            {{ content }}
          </div>
          <div class="longread-xl-space-right"></div>
        </div>
      </div>
    </div>
    {% include related.html %}
  </main>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
