<!doctype html>
<html lang="{{ site.lang }}">
<head>
  {% include header.html %}
</head>

<body>
  {% include navigation.html %}
  <main>
    <div class="section">
      <div class="container">
        <h1>{{ page.title }}</h1>
        {% include tags.html tags=page.tags slug=page.slug link="true" %}
        {% assign download_path = "/assets/generated/" | append: page.slug %}
        <div class="row">
          <div class="col-lg-9">
            <a class="infographic" id="infographic-fullscreen" href="{{ download_path }}_6000.png" data-lightbox>
              <img class="infographic" loading="eager" src="{{ download_path }}_1920.png" alt="{{ page.title }}"
                srcset="{{ download_path }}_600.png 600w, {{ download_path }}_1200.png 1200w, {{ download_path }}_1920.png 1920w"
                sizes="(max-width: 575.98px) 600px, (max-width: 1199.98px) 1200px, 1920px"
              />
            </a>
            <p class="caption mt-5">{{ page.caption }}</p>
          </div>

          <aside class="col-lg-3 downloads-box">
            <div class="d-none d-lg-block">
              <h2>{{ site.data.lang.sidebar.download.title }}</h2>
              <p>{{ site.data.lang.sidebar.download.caption }} (<a href="/{{ site.slugs.how-to-use }}#file-formats">{{ site.data.lang.sidebar.download.which-file-format }}</a>)</p>
              {% include infographic-dataset-sidebar.html section="downloads" %}

              {% if page.dataset or page.data-our or page.data-orig %}
                <h2>{{ site.data.lang.sidebar.data.title }}</h2>
                {% include infographic-dataset-sidebar.html section="data" %}
              {% endif %}

              <h2>{{ site.data.lang.sidebar.share.title }}</h2>
              <p>{{ site.data.lang.sidebar.share.caption-infographic }} <a href="{{ site.data.lang.licence.link }}" title="{{ site.data.lang.licence.title }}" rel="license">{{ site.data.lang.licence.id }}</a>. (<a href="/{{ site.slugs.how-to-use }}">{{ site.data.lang.sidebar.share.usage }}</a>)</p>
              {% include infographic-dataset-sidebar.html section="sharing" %}
            </div>
            <div class="d-lg-none">
              <h2>{{ site.data.lang.sidebar.mobile.title }}</h2>
              <p>{{ site.data.lang.sidebar.mobile.caption-infographic }} <a href="{{ site.data.lang.licence.link }}" title="{{ site.data.lang.licence.title }}" rel="license">{{ site.data.lang.licence.id }}</a>. (<a href="/{{ site.slugs.how-to-use }}">{{ site.data.lang.sidebar.share.usage }}</a>)</p>
              <div class="d-flex d-lg-none align-items-center mt-2 text-secondary">
                <div>{{ site.data.lang.sidebar.mobile.download }}</div>
                <div class="ml-auto text-right">
                  {% include infographic-dataset-sidebar.html section="downloads" %}
                </div>
              </div>
              {% if page.dataset or page.data-our or page.data-orig %}
                <div class="d-flex d-lg-none align-items-center text-secondary pt-2">
                  <div>{{ site.data.lang.sidebar.mobile.data }}</div>
                  <div class="ml-auto text-right">
                    {% include infographic-dataset-sidebar.html section="data" %}
                  </div>
                </div>
              {% endif %}
              <div class="d-flex d-lg-none align-items-center text-secondary pt-2">
                <div>{{ site.data.lang.sidebar.mobile.share }}</div>
                <div class="ml-auto text-right">
                  {% include infographic-dataset-sidebar.html section="sharing" %}
                </div>
              </div>
            </div>
            <div class="modal fade" id="embed-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="modal-title" id="modal-title">{{ site.data.lang.sidebar.share.modal-title }}</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {% include includes-local/share-modal.html %}
                  </div>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container container-xl-fluid">
        <div class="row justify-content-center">
          <div class="longread-xl-space-left"></div>
          <div class="col-lg-4 longread-toc invisible">
            <div class="sticky-toc">
              <h2>{{ site.data.lang.text.toc }}</h2>
              <div id="TOC"></div>
            </div>
          </div>
          <div class="longread-xl-space-middle"></div>
          <div class="col-lg-8 longread">
            {{ content }}
          </div>
          <div class="longread-xl-space-right"></div>
        </div>
      </div>
    </div>
    {% include related.html %}
  </main>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
