<!doctype html>
<html lang="{{ site.lang }}">
<head>
  {% include header.html %}
</head>

<body>
  {% include navigation.html %}
  <main>
    <div class="section">
      <div class="container">
        <h1>{{ site.data.lang.text.survey.survey }}: {{ page.title }}</h1>
        {% include tags.html tags=page.tags slug=page.slug link="true" %}
        <p class="lead">{{ page.intro }}</p>

        {{ content }}
      </div>
    </div>
    {% include related.html %}
  </main>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
