<!doctype html>
<html lang="cs">
<head>
  {% include header.html %}
</head>

<body>
  {% include navigation.html %}
  {% assign tag = site.data.tags | where: "id", page.title | first %}
  <main id="page-tag">
    <div class="section intro pb-4 pt-4">
      <div class="container">
          <span class="tagline">{{ site.data.lang.tag.all-tags-caption }}</span>
          <div class="tags-list clearfix">
            <div class="float-lg-left">
              {% assign tags-scopes-all = site.data.tags_categorized.tags-scopes | map: "id" %}
              {% include tags.html tags=tags-scopes-all link="true" name-long="true" container-class="mt-2" highlighted=tag.id %}
              {% assign tags-topics-all = site.data.tags_categorized.tags-topics | map: "id" %}
              {% include tags.html tags=tags-topics-all link="true" highlighted=tag.id %}
            </div>
            <a href="/" class="btn btn-secondary ml-0 ml-md-1 mt-lg-4 float-lg-right"><i class="fas fa-fw fa-times"></i> Zrušit výběr</a>
          </div>
      </div>
    </div>
    <div class="section">
      <div class="container clearfix">
        <h1>{% if tag.is-scope %}{{ site.data.lang.tag.scope }}{% else %}{{ site.data.lang.tag.topic }}{% endif %}: {{ tag.name-long | capitalize }}</h1>
        {% if tag.description %}
          <span class="lead">{{ tag.description | markdownify }}</span>
        {% else %}
          <p class="lead">{% if tag.is-scope %}{{ site.data.lang.tag.all-scope }}{% else %}{{ site.data.lang.tag.all-topic }}{% endif %} "{{ tag.name-long }}".</p>
        {% endif %}
        {% assign sorted_collections = site.collections | sort: "weight" %}
        {% for collection in sorted_collections %}
          {% assign items = collection.docs | where_exp: "item", "item.tags contains tag.id" | sort: "weight" %}
          {% assign items_size = items | size %}
          {% unless items_size == 0 %}
            <h2>{{ collection.title }} <small class="text-secondary">({{ items_size }})</small></h2>
            {% case collection.label %}
              {% when 'explainers' %}
              <p class="lead">{{ site.data.lang.tag.all-explainers }}</p>
              {% when 'infographics' %}
              <p class="lead">{{ site.data.lang.tag.all-infographics }}</p>
              {% when 'studies' %}
              <p class="lead">{{ site.data.lang.tag.all-studies }}</p>
              {% when 'datasets' %}
              <p class="lead">{{ site.data.lang.tag.all-datasets }}</p>
            {% endcase %}
            {% include preview-blocks.html blocks=items %}
          {% endunless %}
        {% endfor %}
      </div>
    </div>
  </main>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
