<!doctype html>
<html lang="{{ site.lang }}">
<head>
  {% include header.html %}
</head>

<body>
  {% include navigation.html %}
  <main>
    <div class="section">
      <div class="container clearfix">
        <h1>{{ page.title }}</h1>
        <div class="row topic-intro">
          <div class="col-12 col-lg-7 col-xl-6 mt-4">
            {{ content }}
          </div>
          <div class="d-none d-lg-block col-lg-5 col-xl-6 mt-4 text-center topic-icon">
            <img loading="eager" src="/assets/topics/{{ page.slug }}.svg" alt="{{ page.title }}">
          </div>
        </div>
        {%- if page.dashboard %}
          <div class="dashboard row">
            {%- for gauge in page.dashboard %}
              <div class="col-md-6 col-lg-4 p-2">
                <div class="gauge">
                  <div class="title">{{ gauge.title | markdownify}}</div>

                  <div class="data">
                    <div class="value">
                      <span class="number">{{ gauge.value }}</span>
                      <span class="unit">{{ gauge.unit }}</span>
                    </div>
                    {%- if gauge.subtitle %}
                      <div class="subtitle">{{ gauge.subtitle | markdownify}}</div>
                    {%- endif %}
                    {%- if gauge.comment %}
                      <div class="comment">{{ gauge.comment }}</div>
                    {%- endif %}

                    {%- if gauge.value-vs %}
                      <div class="versus"></div>
                      <div class="value ">
                        <span class="number">{{ gauge.value-vs }}</span>
                        <span class="unit">{{ gauge.unit }}</span>
                      </div>
                      <div class="subtitle">{{ gauge.subtitle-vs | markdownify }}</div>
                      <div class="comment">{{ gauge.comment-vs }}</div>
                    {%- endif %}
                  </div>

                  {%- if gauge.source-url %}
                    <div class="source">
                      {%- if gauge.source %}
                      {{ site.data.lang.topic.gauge-source }}: <a href="{{ gauge.source-url }}">{{ gauge.source }}</a>
                      {%- else %}
                      <a href="{{ gauge.source-url }}">{{ site.data.lang.topic.gauge-source }}</a>
                      {%- endif %}
                    </div>
                  {%- endif %}
                </div>
              </div>
            {%- endfor %}
          </div>
        {%- endif %}
      </div>
    </div>
    <div id="secondary-navbar" class="section">
      <ul class="container">
        {%- for sub in page.subtopics %}
          {%- if sub.id and sub.title %}
            {%- assign sub_id = sub.id %}
            {%- assign sub_title_short = sub.title-short | default: sub.title %}
          {%- else %}
            {%- assign sub_id = site.data.lang.topic.nutshell-id %}
            {%- assign sub_title_short = site.data.lang.topic.nutshell-title %}
          {%- endif %}
          <li><a href="#{{ sub_id }}">{{ sub_title_short }}</a></li>
        {%- endfor %}
      </ul>
    </div>
    {%- assign qaCounter = 1 %}
    {%- for sub in page.subtopics %}
      {%- if sub.id and sub.title %}
        {%- assign sub_id = sub.id %}
        {%- assign sub_title = sub.title %}
        {%- assign sub_class = "" %}
      {%- else %}
        {%- assign sub_id = site.data.lang.topic.nutshell-id %}
        {%- assign sub_title = site.data.lang.topic.nutshell-title %}
        {%- assign sub_class = " bg-extralight-blue" %}
      {%- endif %}
      <div class="section{{ sub_class }}">
        <div class="container">
          <div class="subtopic">
            <h2 id="{{ sub_id }}">{{ sub_title }} <a href="#{{ sub_id }}" class="section-link" title="{{ site.data.lang.text.section-link }}">#</a></h2>
            {%- if sub.lead %}
              <div class="subtopic-intro">{{ sub.lead | markdownify }}</div>
            {%- endif %}
            <div class="row justify-content-md py-3">
              {%- for entry in sub.commented-content %}
                <div class="col-md-6 col-lg-4">
                  {% include preview-block.html slug=entry.slug comment=entry.comment comment-key=entry.comment-key no_include_tags=true %}
                </div>
              {%- endfor %}
              {%- for slug in sub.content %}
                <div class="col-md-6 col-lg-4">
                  {% include preview-block.html slug=slug no_include_tags=true %}
                </div>
              {%- endfor %}
            </div>
            {%- if sub.qa %}
              <dl class="qa">
                {%- for qa in sub.qa %}
                  <dt>
                    <a class="collapsed" data-toggle="collapse" data-target="#collapse-qa-{{ qaCounter }}" aria-expanded="false" aria-controls="collapse-qa-{{ qaCounter }}">
                      <div class="qa-question">
                        <div class="qa-button">
                          <i class="fas fa-chevron-down"></i>
                        </div>
                        <p>
                          {{ qa.q }}
                        </p>
                      </div>
                    </a>
                  </dt>
                  <dd class="collapse" id="collapse-qa-{{ qaCounter }}">
                    <div>{{ qa.a | markdownify }}</div>
                  </dd>
                  {% assign qaCounter = qaCounter | plus: 1 %}
                {%- endfor %}
              </dl>
            {%- endif %}
          </div>
        </div>
      </div>
    {%- endfor %}
  </main>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
