<!doctype html>
<html lang="{{ site.lang }}">
<head>
  {% include header.html %}
</head>

<body>
  {% include navigation.html %}
  <main>
    <div id="{{ site.data.lang.navigation.first-id }}" class="section pb-0">
      <div class="container clearfix between-navbars">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
    <div id="secondary-navbar" class="section">
      <div class="container page-title">{{ page.title }}</div>
      <ul class="container">
        <li><a class="home" href="#{{ site.data.lang.navigation.first-id }}">{{ site.data.lang.topic.intro-title }}</a></li>
        {%- for sub in page.subtopics %}
          {%- if sub.id %}
            <li><a href="#{{ sub.id }}">{{ sub.title-short | default: sub.title }}</a></li>
          {%- endif %}
        {%- endfor %}
      </ul>
    </div>
    <div class="section pt-0">
      <div class="container clearfix">
        <div class="row topic-intro">
          <div class="col-12 col-lg-7 col-xl-6">
            <img class="d-none d-md-block d-lg-none float-right col-6 pr-0 pb-3" loading="eager" src="/assets/topics/{{ page.slug }}.svg" alt="{{ page.title }}">
            {{ page.intro | markdownify }}
          </div>
          <div class="col-10 col-sm-8 d-md-none d-lg-block col-lg-5 col-xl-6 topic-icon">
            <img class="px-xl-5" loading="eager" src="/assets/topics/{{ page.slug }}.svg" alt="{{ page.title }}">
          </div>
        </div>
        {%- if page.dashboard %}
          <div class="dashboard row">
            {%- for gauge in page.dashboard %}
              {%- if gauge.source %}
                {%- assign source_text = site.data.lang.topic.gauge-source | append: ": " | append: gauge.source %}
              {%- else %}
                {%- assign source_text = "" %}
              {%- endif %}

              {%- case gauge.type %}
                {% when 'single' %}
                  {%- assign col-size = gauge.col-size | default: 9 %}
                {% when 'compare' %}
                  {%- assign col-size = gauge.col-size | default: 12 %}
              {%- endcase %}
              {%- assign gauge-main-class = "col-" | append: col-size %}
              {%- assign col-lg-size = gauge.col-lg-size | default: 4 %}
              {%- assign gauge-class = "col-lg-" | append: col-lg-size %}
              {%- if gauge.col-xl-size %}
                {%- assign gauge-class = gauge-class | append: " col-xl-" | append: gauge.col-xl-size %}
              {%- endif %}
              <div class="{{ gauge-main-class }} col-md-6 {{ gauge-class }} px-2 px-md-3">
                <div class="gauge gauge-{{ gauge.type }}" title="{{ source_text }}">
                  {%- case gauge.type %}
                    {% when 'single' %}
                      <div class="data"><div class="item">
                        <div class="value line-with-source">
                          {{ gauge.value | markdownify }}
                          {%-if gauge.source-url %}
                            <a class="source" href="{{ gauge.source-url }}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                          {%- endif %}
                        </div>
                        {%- if gauge.subtitle %}
                        <div class="subtitle">{{ gauge.subtitle | markdownify}}</div>
                        {%- endif %}
                      </div></div>
                    {% when 'compare' %}
                      <div class="title line-with-source">
                        {{ gauge.title | markdownify}}
                        {%-if gauge.source-url %}
                          <a class="source" href="{{ gauge.source-url }}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        {%- endif %}
                      </div>
                      <div class="data">
                        {%- for item in gauge.data %}
                          <div class="item">
                            {%- if item.region %}
                              <div class="scope">
                                {%- case item.region %}
                                  {% when 'cz' %}
                                    <img src="/assets/topic-icons/cz.svg" alt="ČR"><span>ČR</span>
                                  {% when 'eu' %}
                                    <img src="/assets/topic-icons/eu.svg" alt="EU"><span>EU</span>
                                  {% when 'world' %}
                                    <img src="/assets/topic-icons/world.svg" alt="svět"><span>svět</span>
                                {%- endcase %}
                              </div>
                            {%- endif %}
                            <div class="value">
                              {{ item.value | markdownify }}
                            </div>
                            {%- if item.subtitle %}
                              <div class="subtitle">{{ item.subtitle | markdownify}}</div>
                            {%- endif %}
                          </div>
                        {%- endfor %}
                      </div>
                  {%- endcase %}
                </div>
              </div>
            {%- endfor %}
          </div>
        {%- endif %}
      </div>
    </div>

    {%- assign qaCounter = 1 %}
    {%- for sub in page.subtopics %}
      {%- if sub.id and sub.title %}
        {%- assign sub_id = sub.id %}
        {%- assign sub_title = sub.title %}
        {%- assign sub_class = "" %}
      {%- else %}
        {%- assign sub_id = site.data.lang.topic.nutshell-id %}
        {%- assign sub_title = site.data.lang.topic.nutshell-title %}
        {%- assign sub_class = " bg-extralight-blue" %}
      {%- endif %}
      <div class="section{{ sub_class }}">
        <div class="container">
          <div class="subtopic">
            <h2 id="{{ sub_id }}">{{ sub_title }} <a href="#{{ sub_id }}" class="section-link" title="{{ site.data.lang.text.section-link }}">#</a></h2>
            {%- if sub.lead %}
              <div class="subtopic-intro">{{ sub.lead | markdownify }}</div>
            {%- endif %}
            {%- if sub.commented-content %}
              {%- assign slugs = sub.commented-content | map: "slug" %}
              {%- assign comments = sub.commented-content | map: "comment" %}
              {%- assign comment-keys = sub.commented-content | map: "comment-key" %}
              {%- include preview-blocks-expandable.html slugs=slugs comments=comments comment-keys=comment-keys no_include_tags=true expand-all=true %}
            {%- endif %}
            {%- if sub.content %}
              {%- include preview-blocks-expandable.html slugs=sub.content no_include_tags=true %}
            {%- endif %}
            {%- if sub.qa %}
              <dl class="qa">
                {%- for qa in sub.qa %}
                  <dt>
                    <a class="expander collapsed" data-toggle="collapse" data-target="#collapse-qa-{{ qaCounter }}" aria-expanded="false" aria-controls="collapse-qa-{{ qaCounter }}">
                      <div class="expander-button">
                        <i class="fas fa-chevron-down"></i>
                      </div>
                      <p>
                        {{ qa.q }}
                      </p>
                    </a>
                  </dt>
                  <dd class="collapse" id="collapse-qa-{{ qaCounter }}">
                    <div>{{ qa.a | markdownify }}</div>
                  </dd>
                  {% assign qaCounter = qaCounter | plus: 1 %}
                {%- endfor %}
              </dl>
            {%- endif %}
          </div>
        </div>
      </div>
    {%- endfor %}
  </main>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
